body
{
    background-color: grey;
}
#container
{
    background-color:white;
    width: 800px;
    margin-left:auto;
    margin-right: auto;
    
}
#header
{
    color: crimson;
    text-align: center;
    background-color: #66CCFF;
}
#content
{
    padding: 10px;
}

a
{
    text-decoration: none;
}
ul,li
{
    list-style-type: none;
}
#nav
{
    width: 180px;
    float: left;
    margin: 0px;

}

#main
{
    width: 600px;
    float: right;
    margin: 0px;
}
h2{
    text-align: center;
}
#footer
{
    clear: both;
    text-align: right;
    background-color: gray;
    color:white;

}